select[name="rcrs-country"]{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
select[name="rcrs-region"]{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button.StripeCheckout>span,
button.StripeCheckout{
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #28a745 !important;
    border-color: #28a745 !important;
    background-image: none !important;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    display: block;
    width: 100%;
    background: none;
}

.scrollable{
    height: 100%;
    overflow-y: auto;
}

button.StripeCheckout{
    margin-bottom: 17px;
}

.shoppingBasket{
    height: 500px;
    border:1px #000 solid;
    border-radius: 10px;
    background-color: #393432;
    padding: 20px 20px 40px;
    box-shadow: 0 0 10px;
}

.greenText{
    color: #28a745;
}

.whiteText{
    color:#fff;
}

input[type=number].amountBox::-webkit-inner-spin-button, 
    input[type=number].amountBox::-webkit-outer-spin-button {  

   opacity: 1;

}
.itemRow{
    margin-bottom: 5px;
}

.itemSection{
    padding-top:20px;
    border: 1px #000 solid;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 20px;
}
.itemsBox{
    height: 85%;
    overflow-y: auto;
    
}
.paymentButton{
    margin-top:50px;
}
.shipmentDiv{
    margin-top:20px;
}