/* Style the header with a grey background and some padding */
bode{
  margin: 0;
  padding: 0;
}

.header {
  overflow: hidden;
  background-color: #393432;
  padding: 15px 0 20px;
}


/* Float the link section to the right */
.header-back {
  width: 100%;
  background-color: #fff;
  display: flex;
  padding:5px 10px 5px 10px;
}

.categoryDropdown{
  height:30px;
  margin-left:-5px;
  background-color:#239125;
  color:#fff;
}

.header-right{
    float: right;
    line-height: 35px;
    display: -webkit-inline-box;
  }

  .pageTitle{
    color:#fff;
    padding: 10px 0px 0px 20px;
    font-size: 32px;
    font-weight: bold;
  }

.header-right input{
  width:300px;
  height:30px;
}

.logo {
  width:70px;
  height:70px;
  position: absolute;
  margin: 0 48%;
}

ul.headerNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left;
  width: 80%;
}

ul.headerNav > li {
  float: left;
}

ul.headerNav li a {
  display: block;
  padding: 8px;
  background-color: #fff;
  color: #333333;;
  text-decoration: none;
}

ul.headerNav li a:hover {
  color:#239125;
}

ul.headerNav li a:active {
  color:#239125;
}